.login_div1, .login_div2 {
    float: none;
    height: 100%;
}
body {
    background: linear-gradient(to right, rgb(250, 107, 131), yellow);
}
.style {
    color: brown;
    border-radius: 15px;
    width: 700px;
    height: 40px;
}
#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
/*button {
    font-size: larger;
    font-weight: bold;
}